.menu-item1 {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px;
    color: var(--text-color);

    &.active {
        color: var(--primary);

        .icon1 {
            display: none;
        }
        .active-icon {
            display: flex;
        }
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        border-radius: 4px;
        transition: background-color 200ms ease-in-out 0s;
    }
}

.title1 {
    margin-left: 10px;
}

.icon1 {
    display: flex;
}

.active-icon {
    display: none;
}
